* {
  box-sizing: border-box;
}

h1 {
  font-size: 3vw;
  text-align: center;
}
body {
  font-family: Open Sans;
 padding-top: 0;
 margin: 0;
  background-color: whitesmoke;
}





.login{
  background-color: white;
  border-radius: 10px;
  width: 50vw;
  margin: auto;
  /* padding-bottom: auto; */
  margin-top: 3em;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;


}

.login-connect{
  /* background-color: red; */
  padding: 0 0  2rem 0;
  
}
.btn {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  color: white;
  font-size: 1.5vw;
  width: 35vw;
  opacity: 0.8;
  cursor: pointer;

}


@media only screen and (max-width: 800px) {
  .login {
    width: 100%;
  }

  .btn {
    /* width: 50vw; */
    font-size: 3vw;
  }
}

button {
  background-color: rgba(6, 9, 224, 0.979);
  color: white;
  cursor: pointer;
  width: 35vw;
  padding: 9px;
  margin: 7px;
  display: inline-block;
  border: #00a1dbd0;
  border-radius: 4px;
  opacity: 0.8;

  text-decoration: none;
}
button:hover{

  background-color: rgba(21, 24, 199, 0.979);
  opacity: 0.9;
}


input[type="text"],
input[type="password"] {
  width: 35vw;
  padding: 10px;
  margin: 6px;
  display: inline-block;
  border-color: #004fe2;
  border-radius: 5px;

}

@media only screen and (max-width:800px) {
 
  .login{
    width: 95vw;
  }
  .col{
    display: inline;
  }
 
}

.row {
  text-decoration: none;
 text-align: center;
 padding: 1rem;

}

.row  a{
  text-decoration: none;
 
}

.forget-psw a{
  text-decoration: none;
}




